<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safziy.bean.classinfo.mapper">

	<resultMap type="ClassInfo" id="ClassInfoMap">
		<id column="c_id" property="id"/>
		<result column="c_name" property="name"/>
		<association property="teacher" javaType="Teacher">
			<id column="t_id" property="id"/>
			<result column="t_name" property="name"/>
			<result column="t_sex" property="sex"/>
			<result column="t_age" property="age"/>
		</association>
	</resultMap>
	
	<!--  -->
	<select id="loadById" parameterType="int" resultMap="ClassInfoMap">
		SELECT * FROM `class` c,`teacher` t WHERE c.`teacher_id` = t.`t_id` AND c.`c_id`=#{id}
	</select>
</mapper>