<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.safziy.vo.user.mapper">
	<select id="list" resultType="com.safziy.vo.User">
		select * from user
	</select>
	<select id="loadByName" parameterType="string" resultType="com.safziy.vo.User">
		select * from user where name=#{name}
	</select>
</mapper>